pyTelegramBotAPI==4.4.0  # For working with the Telegram Bot API using the telebot library
Telethon==1.25.2         # For asynchronous interaction with Telegram's API
aiogram==3.1.1           # Modern and fully asynchronous framework for Telegram Bot API
